# java
*.class
.classpath
.project
bin
src/main/jni

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
sample/logs/*
sample/libs/*
libs/*
xptesttool/*


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Building with Gradle
build/
/.gradle/
local.properties

# Android Studio
/.idea/
*.iml
.settings

# Mac
.DS_Store
*.swp

